.search-result {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 400;
}

.search-result-container {
  width: 100%;
  height: 100%;
}

.searh-result-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-result-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 37px;
}

.search-result-not-found-message {
  font-size: 1.125rem;
  font-family: "Montserrat";
  font-weight: 500;
  margin: 0;
  margin-bottom: 187px;
  position: absolute;
}
