@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/Nunito-Bold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #fafafa;

  --column-1: 21.5;
  --column-2: 6.5;
  --column-3: 6;
  --column-4: 14.125;
}
